body {
    /*cursor: url("drone_cursor.svg"), auto;*/
}

/* Opening Page View */

header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
}

.header-content {
    margin: 0 auto;
}

.page-title {
    text-align: center;
    margin: auto;
    margin-top: 30px;
    height: 700px;
    font-family: 'Courier New', monospace;
    font-size: 6em;
}

/* Sections */

section {
    margin: 5% auto;
}

.sandwich-offering {
    margin: 5% auto;
    width: 50%;
    border: solid 1px darkgray;
    border-radius: 1em;
}


.left{
    float:left;
    width:30%;
    margin-left: 3%;
    margin-top: 0;

}

.spacer{
    width: 100%;
    height: 20%;
}

#prop1{
    position: absolute;
    top: -7.4%;
    left: 10%;
    width: 140%;
    animation: rotating 2s linear infinite;
}

#prop2{
    position: absolute;
    top: -7.5%;
    left: -47%;
    width: 140%;
    animation: rotating 2s linear infinite;
}

#prop3{

}

#prop4{

}

#drone {
    position: absolute;
    width: 30%;
    top: 20%;
    left: 35%;
    -webkit-animation: pulse 1s ease-in-out infinite alternate;
    animation: pulse 1s ease-in-out infinite alternate;
}


@keyframes pulse {
    0% {
        margin-top:30px;
    }
    100% {
        margin-top:0;
    }
}




@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}