

/* Opening Page View */

header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
}

.header-content {
    margin: 0 auto;
}

.page-title {
    text-align: center;
    margin: auto;
    margin-top: 5%;
    height: 25%;
    font-family: 'Courier New', monospace;
    font-size: 6em;
}

/* Sections */

section {
    margin: 5% auto;
}

.sandwich-offering {
    margin: 5% auto;
    padding: 1em;

    width: 50%;
    
    border: solid 1px darkgray;
    border-radius: 1em;
}