body {
    /*cursor: url("drone_cursor.svg"), auto;*/
}

/* Opening Page View */

header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
}

.header-content {
    margin: 0 auto;
}

.page-title {
    text-align: center;
    margin: auto;
    margin-top: 30px;
    height: 700px;
    font-family: 'Courier New', monospace;
    font-size: 6em;
}

/* Sections */

section {
    margin: 5% auto;
}

.sandwich-offering {
    margin: 5% auto;
    width: 50%;
    border: solid 1px darkgray;
    border-radius: 1em;
}


.left{
    float:left;
    width:30%;
    margin-left: 3%;
    margin-top: 0;

}

.spacer{
    width: 100%;
    height: 20%;
}


#drone {
    -webkit-animation: pulse 1s ease-in-out infinite alternate;
    animation: pulse 1s ease-in-out infinite alternate;
}


@keyframes pulse {
    0% {
        margin-top:30px;
    }
    100% {
        margin-top:0;
    }
}
