/* Navigation Bar */

.navbar ul {
    width: 100%;
    list-style-type: none;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
    color: black;
    background-color: white;
    box-shadow: 0 1em 1em darkgray;
    z-index: 10;
}

.navbar li {
    display: inline;
    float: right;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

li a .active {
    background-color: #3c3c3c;
    color: #d1d1d1;
}

#dynamicCollapse.collapsed .navbar-header {
    float: none;
}

#dynamicCollapse.collapsed .navbar-toggle {
    display: block;
}

#dynamicCollapse.collapsed .navbar-content.collapsed {
    display: none!important;
}

#dynamicCollapse.collapsed .navbar-nav {
    float: none!important;
}

#dynamicCollapse.collapsed .navbar-nav>li {
    float: none;
}

#dynamicCollapse.collapsed .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}